torch==1.13.1
numpy==1.24.1
tqdm==4.64.0
scikit-learn==1.2.1
threadpoolctl==3.1.0
transformers==4.24.0
scipy==1.9.3
pandas==1.5.3
sentence-transformers==2.2.2
faiss-cpu==1.7.3
openai==0.25.0
wandb==0.13.5
nltk==3.7
matplotlib==3.6.3
